table,th,td{border: 1px solid #000;}
th,td{padding: 7px;}

.autor{background-color:rgb(87, 87, 87);}

.gravadora{background-color:rgb(87, 87, 87);}

.cantor{background-color:rgb(87, 87, 87);}

.musica{background-color: rgb(87, 87, 87);}
